$backgroundColor: #272F3A;
$textColor: #f3eceb;
$textHeaderColor: #6B9FD1;
$insideBackgroundColor: #2D6DAB;
$menuColor: #7F9BAE;
$transparentBackgroundColor: rgba(39, 47, 58, .5); /*transparent*/
$borderColor: rgb(238, 216, 119);